.Rproj.user
.Rhistory
.RData
.Ruserdata
full_trinetx.rdata
data/full_db.dta
.RDataTmp
.DS_Store
/Code Drafts/figs
/Code Drafts/output
*.RData
*.rdx
*.rdb
*.rds
Drafts/~$-08-25 ABG_VBG_Rough Draft BL.docx
Drafts/~$2026-05-03 ABG vs VBG Poster.pptx
Drafts/2026-4-17 AM ATS ABG vs VBG Poster \[Autosaved\].pptx
Drafts/~$2026-05-04 BL ABG vs VBG Poster.pptx
